.labelCard{
    width: 60vh;
    height: 15vh;
    display: flex;
    color:black;
    
}

.text{
    flex-grow: 0.5;
    margin-top: 20px;
    vertical-align: middle;
}

.icon{
    vertical-align: middle;
    margin-top: 20px;
    width: 70px;
    height: 70px;
}

