.card{
    width: 60vh;
    height: 15vh;
    color: white;
    display: flex;
    background-color: #800080;
}

img {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
}

.avatar{
    display: flex;
    align-self: center;

}

.text{
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    padding-left: 10px;
    text-align: left;
    vertical-align: center;
}

.icon{
    vertical-align: middle;
    width: 60px;
    height: 60px;
}

